input {
  margin-left: 20px;
  padding: 0.2rem 0px;
  border: none;
  border-bottom: 0.1rem solid violet;
  background-color: transparent;
  color: rgb(228, 101, 245);
}

input::placeholder {
  color: rgb(228, 101, 245);
}

input:focus {
  border: 0.1rem solid violet;
  border-radius: 0.3rem;
  outline: none;
  background-color: rgb(241, 196, 247);
  color: rgb(208, 69, 226);
}

/*InputLabels*/
.section-registeration {
  margin-top: 20px;
  color: rgb(228, 101, 245);
  font-weight: 700;
}

.registration-image {
  /* background-color: aqua; */
  /* padding: 20px; */
  margin-left: 100px;
  margin-top: -20px;
}

.registration-form h1 {
  margin-bottom: -12px;
  color: rgb(228, 101, 245);
}
#reg-image {
  width: 500px;
  height: 500px;
}

.registration-form {
  /* background-color: aqua; */
  /* padding: 20px; */
  margin-right: 150px;
  margin-top: 120px;
}

.registration-form label {
  padding-top: 0.2rem;
}

.registration-form form {
  border: 2px solid violet;
  padding: 20px;
  border-radius: 0.5rem;
  padding-bottom: 40px;
}

.registration-form div {
  display: flex;
  justify-content: right;
  margin: 0.4rem 0px;
}

button {
  display: flex;
  justify-self: end;
  background-color: rgb(252, 83, 252);
  padding: 0.7rem 1.4rem;
  border: 0.1rem solid transparent;
  border-radius: 2rem;
  font-weight: 800;
  outline: none;
}

button:hover {
  background-color: rgb(248, 195, 248);
  border: 0.1rem solid rgb(241, 41, 225);
  border-radius: 2rem;
  font-weight: 900;
}
