/* deafult simple css of a pagee that contains <section> <div container><div> h1 and catalouge div </div></div> </section>*/
body {
  background-color: white;
}
.services-section {
  /* background-color: red; */
  padding: 25px 5px 25px 5px;
}
.services-container {
  /* background-color: blue; */
  display: flex;
  flex-direction: column; /* Ensures elements stack vertically */
  justify-content: center; /* Centers horizontally */
  /* align-items: center; Centers vertically */
  width: auto;
  height: auto;
  padding: 5px 30px 5px 30px;
}

#services-h1 {
  /* background-color: aqua; */
  font-size: 55px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  text-decoration: underline blueviolet;
  text-align: center;
  color: blueviolet;
}
.services-catalouge {
  /* background-color: rgb(242, 203, 253); */
  height: auto;
  width: auto;
  border-radius: 10px;
  border: 0.1rem solid blueviolet;
  margin-top: 10px;
  padding: 10px 10px 10px 10px;
}

.service-card {
  background-color: rgb(41, 41, 43);
  height: 60vh;
  width: 40vh;
  border-radius: 10px;
}
