# Ignore dotenv files
.env
dotenv

# Ignore dot and env files with no extensions
dot
env

# Ignore node_modules folder
node_modules/

# Optional: Ignore specific dependencies (not recommended)
express/
mongoose/
nodemon/
