/* .container{
padding: 1.8rem 2.4rem;
display: flex;
justify-content: space-between;}


ul{
    display: flex;
    gap: 2rem;
    list-style-type: none;  
} */

.container {
  max-width: 140rem;
  padding: 1rem 2.4rem;
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  gap: 1.5rem;
  list-style-type: none;
}
